.btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.btn {
    position: relative;
    height: 40px;
    width: 90px;
    border: none;
    cursor: pointer;
}
